.product {
    display: grid;
    grid-template-rows: 70% 30%;
    height: auto;
    width: 22rem;
    overflow: hidden;
    background-color: white;
    border-radius: 1rem;
  
    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #090E47;
  
      img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1/1;
      }
    }

    .product-info {
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        font-size: medium;
        font-weight: 600;
    }
  }

/* Versión de tablet */
@media (min-width: 768px) {
    .product {
        grid-template-rows: 60% 40%;
        height: 20rem;
    }
}
     
/* Versión de escritorio */
@media (min-width: 1024px) {
  .product {
    grid-template-rows: 60% 40%;
}
}
