.delivered-order {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 4fr 1fr;
  background: white;
  border-radius: 1rem;
  height: 25rem;
  width: 20rem;
  padding: 1rem;
  gap: 1rem;
}

.delivered-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.btn-served{
  border-radius: 0.5rem;
  border: none;
  background: #cb3234;
  color: white;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 2rem;
  width: fit-content;
  margin: 0 auto;
}
