
.admin-product {
  display: flex;
  height: 28vh;
  width: 28vw;
  margin: 0.625rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #000000;
  background: #fa625146;
  box-shadow: 0.375rem 0.375rem 0.375rem #505050;
  border: 0.1865rem solid #303030a3;
  border-radius: 1.625rem;
  padding-bottom: 1rem;
  img {
    height: 60%;
    width: auto;
    padding: 1.2rem;
  }
}

.admin-product-info {
    display: flex;
    flex-direction: column;
    line-height: 1;
    background-color: bisque;
    width: 100%;
    padding-top: 10px;
    border-top: red solid 1px;
    border-bottom: red solid 1px;
}

.admin-product-info p{
    font-size: 0.9rem;
    font-weight: bold;
}


.buttons-product :nth-child(1), .buttons-product :nth-child(2) {
    background-color: #cb3234a8;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    margin: 0.5rem;
}
.edit input{
    width: 10rem;
}

// Desktop version
@media (min-width: 1024px) and (max-height: 800px) {
 
    .admin-product {
        width: 22vw;
        height: 45vh;
        img {
            height: 60%;
            width: auto;
            padding: 1.8rem;
            padding-bottom: 0.5rem;
          }
    }
    .buttons-product :nth-child(1), .buttons-product :nth-child(2) {
        width: 40px;
        height: 40px;
    }
}

// Mobile version
@media (max-width: 540px) {
    .admin-product {
        width: 70vw;
        height: 45vh;
        img {
            height: 50%;
            width: auto;
            padding: 1.8rem;
            padding-bottom: 0.5rem;
          }
    }
    
}