.admin-product{
    height: 15vh;
    width: 45vw;
    display: flex;
    margin: 0.625rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000000;
    background: #fa625146;
    box-shadow: 0.375rem 0.375rem 0.375rem #505050;
    border: 0.1865rem solid #303030a3;
    border-radius: 1.625rem;

    img{
        width: 10vw;
        height: auto;
        border-radius: 50%;
    }
    
}

.admin-product p {
    margin: 0.2rem auto;
    width: 17rem;
    height: 2rem;
    border: 0.375rem;
    display: flex;
    padding: 8px;
}


.admin-product > p:first-child{
    font-weight: bolder;
}
