.container-order {
  display: flex;
  height: auto;
  width: 40vw;
  margin-top: 1rem;
  flex-direction: column;
  border: 1px solid #000000;
  background: #fa625146;
  border-radius: 1.625rem;
  box-shadow: 0.375rem 0.375rem 0.375rem #505050;
  border: 0.1865rem solid #303030a3;
}
.orderNum {
  font-weight: bolder;
  line-height: 0.5;
}
.description-order {
  background-color: papayawhip;
}
.clientName {
    margin-top: 10px;
  border: #fa625100;
  font-weight: bolder;
  margin-right: 0;
}
.amount-product {
  display: flex;
  align-items: center;
  align-content: flex-start;
}
.amount {
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #cb3234;
  background: #cb3234;
  margin-right: 2px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bolder;
}
.product-name {
  border: #fa625100;
  padding: 15px;
}

.btn-order {
  border-radius: 50px;
  background: #cb3234;
  padding: 8px 12px;
  color: white;
  font-weight: bolder;
  margin-bottom: 15px;
  font-size: 0.8em;
}

// Desktop version
@media (min-width: 1024px) and (max-height: 800px) {
  .container-order {
    width: 22vw;
  }
}

// Mobile version
@media (max-width: 540px) {
  .container-order {
    width: 80vw;
    margin: 1rem;
  }
}
