.product {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 23vh;
  margin: 1.5rem 0.7rem 0.5rem;
  border: 1px solid black;
  background: #fa625146;
  box-shadow: 0.375rem 0.375rem 0.375rem #505050;
  border-radius: 1.625rem;
  img {
    height: 10vh;
    width: 15vw;
    align-self: center;
    margin: 1.2rem;
  }
  .product-info {
    background: bisque;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        margin: 0.5rem;
        font-weight: bold;
        line-height: 1;
    }
  }
}
// Desktop version
@media (min-width: 1024px) and (max-height: 800px) {
    .product  {
        width: 17vw;
        height: 40vh;
        img {
            height: 20vh;
            width: 12vw;
        }
        .product-info {
            height: 10vh;
        }
    }
}

// Mobile version
@media (max-width: 540px) {
    .product  {
        width: 60vw;
        height: 40vh;
        img {
            height: 20vh;
            width: auto;
        }
        .product-info {
            height: 10vh;
        }
    }
}
