.product-summary {
  display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 8px;
    align-items: center;
    width: 100%;

  .name {
    flex-grow: 1;
  }
  .price-minus {
    display: flex;
    align-items: center;
  }

.quantity {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #cb3234;
    background: #cb3234;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .price {
    padding: 5px;
  }
  .subtract {
    margin-left: 10px;
    fill: red;
  }
}

