.product-summary {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 8px;
  align-items: center;
  width: 40vw;

  .name {
    flex-grow: 1;
  }

  .quantity {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #cb3234;
    background: #cb3234;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .price {
    padding: 5px;
  }
  .subtract {
    margin-left: 10px;
    fill: red;
    width: 3rem;
    height: 3rem;
  }
}

// Desktop version
@media (min-width: 1024px) and (max-height: 800px) {
  .product-summary  {
      width: 35vw;
      align-self: center;
  }
}

// Mobile version
@media (max-width: 540px) {
  .product-summary {
    width: 90vw;
  }
}