.container-order {
    display: flex;
    padding: 20px;
    min-height: 20vh;
    margin: 1rem;
}

.btn-order{
    width: 55%;
    align-self: center;
    margin: 10px;
}

// Desktop version
@media (min-width: 1024px) and (max-height: 800px) {
  .container-order{
    width: 28vw;
  }
  }
  
  // Mobile version
  @media (max-width: 540px) {
  
  }
  