.create-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: transparent;
  border-radius: 1rem;
  height: auto;
  width: 22rem;
  min-width: 22rem;
  border: 0.5rem solid #090E47;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;

  &.with-cancel {
    gap: 1rem;
  }
}

.alerts {
  min-height: 4rem;
  & .alert {
    max-height: fit-content;
    margin: 0;
  }
}
