.admin-workers {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 1.5625rem;
  align-items: center;
  margin: 0.625rem;
  background-color: rgb(55, 29, 15, 0.35);
  border-radius: 1.625rem;
  height: 24vh;
  width: 50vw;
  box-shadow: 0.375rem 0.375rem 0.375rem #505050;
  border: 0.1865rem solid #303030a3;
}
.container-worker {
  width: 64vw;
  height: 28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.625rem;
}
.workers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.4rem;
}

// Desktop version
@media (min-width: 1024px) and (max-height: 800px) {
  .container-worker {
    width: 45vw;
    height: 45vh;
  }
  .admin-workers {
    height: 45vh;
    width: 35vw;
  }
}

// Mobile version
@media (max-width: 540px) {
  .workers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .container-worker {
    width: 70vw;
    height: 38vh;
  }
  ::placeholder{
    font-size: 1rem;
  }
  .admin-workers {
    height: 35vh;
    width: 85vw;
  }
}


