.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1rem;
  }

  .modal-button {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 95%;
    max-width: 95%;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .modal-content {
      padding: 1.5rem;
      width: 80%;
      max-width: 31rem;
    }
  
    .close {
      top: 0.8rem;
      right: 1rem;
      font-size: large;
    }
  
    .modal-actions {
      margin-top: 1.5rem;
      gap: 1rem;
    }
  }
  
  @media (min-width: 1024px) {
    
  }