.kitchen-order {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 4fr 1fr;
  justify-items: center;
  background: white;
  border-radius: 1rem;
  height: 25rem;
  width: 20rem;
  padding: 1rem 2rem;
  gap: 1rem;
}

.kitchen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
}

.status {
  font-size: medium;
}

.clientName, .orderNum {
  text-align: center;
  font-size: large;
  font-weight: 600;
  color:#cb3234
}

.orderNum {
  margin: 0;
}

.description-order {
  display: flex;
  flex-direction: column;
  background-color: #090E47;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  max-height: 15rem;
  overflow-y: auto;
  width: 100%;
}

.amount-product {
  display: flex;
  gap: 1rem;

  .amount {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #cb3234;
    color: white;
  }
  .product-name {
    color: white;
    font-size: large;
  }
  
}

/* Versión de tablet */
@media (min-width: 768px){
  .kitchen-order {
    height: 30rem;
    width: 28rem;
  }

  .status {
    font-size: large;
  }

  .clientName, .orderNum {
    font-size: x-large;
  }
}
   
 /* Versión de escritorio */
@media (min-width: 1024px) {

}