.deliveredOrders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Versión de tablet */
@media (min-width: 768px) {
  .deliveredOrders {
    width: 60%;
    align-items: center;
    justify-content: center;
    height: max-content;
 }
}

 /* Versión de escritorio */
@media (min-width: 1024px) {
  .deliveredOrders {
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
  } 
}
