.deliveredOrders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: auto;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* Versión de tablet */
@media (min-width: 768px) {
  .deliveredOrders {
    width: 100%;

 }

 /* Versión de escritorio */
@media (min-width: 1024px) {
  .deliveredOrders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } 
}
}