.order-view{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.order-container{
    display: flex;
    flex-direction: column ;
    background-color: #F3D3C1;
    padding: 1rem;
    width: 100%;
    flex-grow: 1;
    gap: 1rem;
}

/* Versión de tablet */
@media (min-width: 768px) {
 .order-container{
    padding: 2rem;
 }
}
  
/* Versión de escritorio */
@media (min-width: 1024px) {
    .order-container{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
}