.containerReady {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
}

.readyOrders {
  display: flex;
  flex-wrap: wrap;
}

.deliveredOrders {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    h3{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: bolder;
    }
}

Table {
  border: none;
  padding: 5px;
  margin: 2rem;
  box-shadow: 0.375rem 0.375rem 0.375rem #505050;
  border-radius: 1.625rem;
  background-color: papayawhip;
}

.subtitles-delivered {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
}
// Desktop version
@media (min-width: 1024px) and (max-height: 800px) {
  .containerReady {
    grid-template-columns: 2.5fr 1.3fr;
  }
  Table{
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 0;
  }
}

// Mobile version
@media (max-width: 540px) {
    .containerReady {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
        .readyOrders {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
}
