.create-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  height: auto;
  width: 25rem;
  min-width: 25rem;
  border: 0.5rem solid #090E47;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;

  &.with-cancel {
    gap: 1rem;
  }
}

.alerts {
  min-height: 4rem;
  & .alert {
    max-height: fit-content;
    margin: 0;
  }
}

/* Versión de tablet */
@media (min-width: 768px) {
  .create-form {
    width: 30rem;
    min-width: 30rem;
  }
}