.product-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    border-radius: 1rem;
}
.product-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    gap: 1rem;
}
