.readyOrders-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.readyOrders-container  {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  background-color: #f3d3c1;
}

/* Versión de tablet */
@media (min-width: 768px) {
  .readyOrders-container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 2rem;
    overflow: auto;
  }
 }
   
 /* Versión de escritorio */
@media (min-width: 1024px) {
  .readyOrders-container{
    grid-template-columns: 2fr 1fr;
  }
}
